<div class="bg-light">
    <div
      style="
        padding: 2rem;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
      "
    >
      <a class="btn" href="http://">About</a>
      <a class="btn" href="http://">Terms</a>
      <a class="btn" href="http://">Policy</a>
    </div>
  </div>
</body>
</html>